@use "base" as *;

.features {
  grid-column: center-start / center-end;

  margin: 15rem 0;

  display: grid;

  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;

  align-items: start;
}
.feature {
  display: grid;

  grid-template-columns: 6rem 1fr;
  row-gap: 1.5rem;
  column-gap: 2.5rem;

  @media only screen and (max-width: $bp-small) {
  }

  &__icon {
    fill: $color-primary;
    font-size: 4.5rem;
    grid-row: 1 / span 2;

    justify-self: center;
    align-self: start;

    transform: translateY(-1rem);
  }
  &__text {
    font-size: 1.7rem;
  }
}
